body { 
    margin: 0; 
    padding: 0; } 

.masthead { 
    min-width: 600px;
    background: url('file:///C:/Users/Rebecca_2/Pictures/grey-background.png'); 
     }

.forms {
    position:relative;
    max-width:800px;
    margin: 50px auto;
    height:400px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    border-style: solid;
    border-color: #33CCCC;
    border-width: 5px;
}

#Label {
    text-align: center;
    position: relative;
}

#Weight {
    text-align: center;
    position: relative;
}

#Score {
    text-align: center;
    position: relative;
}

#goal {
}

#saveButton {
}

#calculateButton {
}

.column-left {
    text-align: center;
    width: 33%;
    left: 0;
    position: absolute;
}
.column-center {
    text-align: center;
    width: 34%;
    margin-left: 33%;
    position: absolute;
}
.column-right {
    text-align: center;
    width: 33%;
    right: 0;
    position: absolute;
}


h1 {
    text-align: center;
    padding: auto;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #606060;
}

